*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
  
body {
    line-height: 1.6;
}
  
ul {
    list-style-type: none;
}
  
a {
    text-decoration: none;

}
  
h1,
h2 {
    font-weight: 300;
    line-height: 1.2;
    margin: 0;
}
  
p {
    margin: 0;
}
  
img {
    width: 100%;
}

.navBar {
    background-color: #333;
}

.navLinks {
}

.navLinks ul {
    max-width: 1100px;
    margin: auto;
    display: flex;
    height: 80px;
    align-items: center;
}

.navLinks li {
    font-size: 33px;
    font-weight: bold;
    margin-right: 35px;
}

.navLinks a {
    color: whitesmoke;
}

.navLinks li:hover {
    transform: scale(1.1);
}


.header {
    max-width: 1100px;
    margin: 50px auto;
}

.header h1 {
    font-size: 45px;
    font-weight: bolder;
}

.header p {
    font-size: 25px;
}

form {
    margin-top: 30px;
}

input {
    height: 35px;
    padding: 10px;
    font-size: 20px;
}

button {
    width: 100px;
    height: 35px;
    font-size: 20px;
}

.login-button {
    height: 35px;
    font-size: 25px;
    background-color: #333;
    padding: 10px;
    margin-top: 10px;
    color: whitesmoke;
}

.container {
    max-width: 1100px;
    margin: auto;
}