@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
  
body {
    line-height: 1.6;
    font-family: 'Roboto Condensed', sans-serif;
}
  
ul {
    list-style-type: none;
}
  
a {
    text-decoration: none;

}
  
h1,
h2 {
    font-weight: 300;
    line-height: 1.2;
    margin: 0;
}
  
p {
    margin: 0;
}
  
img {
    width: 100%;
}

.navBar {
    background-color: #333;
}


.navLinks ul {
    max-width: 1100px;
    margin: auto;
    display: flex;
    height: 80px;
    align-items: center;
}

.navLinks li {
    font-size: 33px;
    font-weight: bold;
    margin-right: 35px;
}

.navLinks a {
    color: whitesmoke;
}

.navLinks li:hover {
    transform: scale(1.1);
}


.header {
    max-width: 1100px;
    margin: 30px auto;
}

.header h1 {
    font-size: 45px;
    font-weight: bolder;
}

.header p {
    font-size: 25px;
}

form {
    margin-top: 30px;
}

input {
    height: 35px;
    padding: 10px;
    font-size: 20px;
}

button {
    width: 100px;
    height: 35px;
    font-size: 20px;
}

.login-button {
    height: 35px;
    font-size: 25px;
    background-color: #333;
    padding: 10px;
    margin-top: 10px;
    color: whitesmoke;
}

.container {
    max-width: 1100px;
    margin: auto;
}

.room-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
}

.room-container h2 {
    font-weight: bold;
}

.header h2 {
    font-weight: bold;
    margin-top: 60px;
    font-size: 30px;
}

.header h3 {
    font-size: 25px;
}

.room-card {
    background-color: rgb(70, 69, 69);
    color: whitesmoke;
    padding: 10px;
    margin-top: 20px;
    border-radius: 4px;
}

.room-card p {
    color: tomato;
}